{:paths ["src"]
 :deps {ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        metosin/muuntaja {:mvn/version "0.6.8"}}


 :aliases {;; Run with clj -T:build function-in-build
           :build {:deps {co.insilica/tools.build {:mvn/version "0.8.3.1"}}
                   :ns-default build}
           ;; Run with clj -M:run-dev to launch the app locally 
           :run-dev {:main-opts ["-m" "game.handler"]}}}




